{% extends 'base.html' %}

{% block content %}

<div class="valign-wrapper center-block center-align container">

    <h3>Rating: {{ artist_rating_detail.rating }}</h3>

    <img src="{{ artist_rating_detail.artist_img }}" height="300px" width="300px" alt="artist header image" class="responsive-img"/>

    <div class="white-text">Name: {{ artist_rating_detail.artist_name }}</div>
    <!-- For loop below prints songs in a list format but doesn't print each song individually with the details? -->
    <div class="white-text">{{ artist_rating_detail.artist_description }}</div>

    <a href="{% url 'artist_rating_update_page' artist_rating_detail.id user.id %}" class="waves-effect waves-light btn">Update Rating</a>
    <a href="{% url 'artist_rating_delete' artist_rating_detail.id user.id %}" class="waves-effect waves-light red btn">Delete Rating</a>

</div>

{% endblock %}