{% extends 'base.html' %}

{% block content %}

<div class="valign-wrapper center-block center-align container">
    <h3>Rating: {{ lyric_rating_detail.rating }}</h3>

    <img src="{{ lyric_rating_detail.song_art_image_url }}" height="200px" width="200px" alt="song cover art">

    <div>Title: {{ lyric_rating_detail.song_title }}</div>
    <div>Artist: {{ lyric_rating_detail.song_artist }}</div>
    <div>Description: {{ lyric_rating_detail.song_description }}</div>
    <div>Lyrics: {{ lyric_rating_detail.song_lyrics }}</div>

    <a href="{% url 'lyric_rating_update' lyric_rating_detail.id user.id %}" class="waves-effect waves-light btn">Update Rating</a>
    <a href="{% url 'lyric_rating_delete' lyric_rating_detail.id user.id %}" class="waves-effect waves-light red btn">Delete Rating</a>

</div>

{% endblock %}