{% extends 'base.html' %}

{% block content %}

<div class="valign-wrapper center-block center-align container">
    <h1 class="white-text">Your Ratings</h1>
    
    <h3 class="white-text">Lyric Ratings</h3>
    {% for rating in lyric_ratings %}
    <a href="{% url 'lyric_rating_detail' rating.id user.id %}">
        <div>{{ rating.song_title }} - {{ rating.song_artist }}</div>
    </a>
    {% endfor %}

    <h3 class="white-text">Artist Ratings</h3>
    {% for rating in artist_ratings %}
    <a href="{% url 'artist_rating_detail' rating.id user.id %}">
        <div>{{ rating.artist_name }}</div>
    </a>
    {% endfor %}

    <h3 class="white-text">Song Ratings</h3>
    {% for rating in song_ratings %}
    <a href="{% url 'song_rating_detail' rating.id user.id %}">
        <div>{{ rating.song_title }} - {{ rating.song_artist }}</div>
    </a>
    {% endfor %}
</div>

{% endblock %}