body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

nav {
  background-color: #546e7a !important;
}

#id_enter_lyrics {
  color: white;
}

.whole-logo {
  width: 85px;
  transform: rotate(0.5turn);
  display: flex;
  justify-content: space-evenly;
}

.first-bar {
  height: 53px;
  width: 8px;
  background-color: #5832fd;
  border-radius: 10px;
}

.second-bar {
  height: 58px;
  width: 8px;
  background-color: #2268fd;
  border-radius: 10px;
}

.third-bar {
  height: 63px;
  width: 8px;
  background-color: #04ccfe;
  border-radius: 10px;
}

.fourth-bar {
  height: 48px;
  width: 8px;
  background-color: #02eef4;
  border-radius: 10px;
}

.fifth-bar {
  height: 53px;
  width: 8px;
  background-color: #78fdfa;
  border-radius: 10px;
}

.sixth-bar {
  height: 60px;
  width: 8px;
  background-color: #5ddea6;
  border-radius: 10px;
}

.seventh-bar {
  height: 53px;
  width: 8px;
  background-color: #22c55e;
  border-radius: 10px;
}

.whole-logo-home {
  width: 91px;
  transform: rotate(0.5turn);
  display: flex;
  justify-content: space-evenly;
}

.first-bar-home {
  height: 63px;
  width: 10px;
  background-color: #5832fd;
  border-radius: 10px;
}

.second-bar-home {
  height: 68px;
  width: 10px;
  background-color: #2268fd;
  border-radius: 10px;
}

.third-bar-home {
  height: 73px;
  width: 10px;
  background-color: #04ccfe;
  border-radius: 10px;
}

.fourth-bar-home {
  height: 58px;
  width: 10px;
  background-color: #02eef4;
  border-radius: 10px;
}

.fifth-bar-home {
  height: 63px;
  width: 10px;
  background-color: #78fdfa;
  border-radius: 10px;
}

.sixth-bar-home {
  height: 70px;
  width: 10px;
  background-color: #5ddea6;
  border-radius: 10px;
}

.seventh-bar-home {
  height: 63px;
  width: 10px;
  background-color: #22c55e;
  border-radius: 10px;
}  

.material-icons {
  font-size: 2rem;
}

.home-btns {
  text-align: center;
}

.sidenav {
  background-color: #546e7a !important;
}

.card-title-bold {
  font-weight: bold !important;
}

.white-text-btn {
  color: white !important;
}

footer {
  margin: auto;
}

@media only screen and (max-width: 602px) {
  .first-bar {
    height: 45px;
    width: 8px;
  }
  .second-bar {
    height: 50px;
    width: 8px;
  }
  .third-bar {
    height: 55px;
    width: 8px;
  }
  .fourth-bar {
    height: 40px;
    width: 8px;
  }
  .fifth-bar {
    height: 45px;
    width: 8px;
  }
  .sixth-bar {
    height: 52px;
    width: 8px;
  }
  .seventh-bar {
    height: 45px;
    width: 8px;
  }
  .left-align {
    text-align: center !important;
  }
}