/* Home Page */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
  }

  .whole-logo-home {
    width: 91px;
    transform: rotate(0.5turn);
    display: flex;
    justify-content: space-evenly;
  }
  
  .first-bar-home {
    height: 63px;
    width: 10px;
    background-color: #5832fd;
    border-radius: 10px;
  }
  
  .second-bar-home {
    height: 68px;
    width: 10px;
    background-color: #2268fd;
    border-radius: 10px;
  }
  
  .third-bar-home {
    height: 73px;
    width: 10px;
    background-color: #04ccfe;
    border-radius: 10px;
  }
  
  .fourth-bar-home {
    height: 58px;
    width: 10px;
    background-color: #02eef4;
    border-radius: 10px;
  }
  
  .fifth-bar-home {
    height: 63px;
    width: 10px;
    background-color: #78fdfa;
    border-radius: 10px;
  }
  
  .sixth-bar-home {
    height: 70px;
    width: 10px;
    background-color: #5ddea6;
    border-radius: 10px;
  }
  
  .seventh-bar-home {
    height: 63px;
    width: 10px;
    background-color: #22c55e;
    border-radius: 10px;
  }  


.material-icons {
    font-size: 2rem;
}

.home-page {
    display: flex;
    justify-content: center;
    text-align: center;
}

.home-btns {
    text-align: center;
}








