{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% load tailwind_tags %}
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DS^2</title>
  </head>
  <body class="dark:bg-slate-900">
    <header class="h-16 dark:bg-gray-800">
      <nav class="">
        <div class="text-lg flex text-white justify-between h-8 md:text-xl">
          <ul>
            <li>
              <a href="{% url 'home' %}" class="font-extrabold"
                >&nbsp;&nbsp;DS^2</a
              >
            </li>
          </ul>
          <ul class="flex space-x-5 px-2">
            <li><a href="{% url 'search_artist_title' %}">Artist/Title</a></li>
            <li><a href="{% url 'search_lyric' %}">Lyrics</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="">{% block content %} {% endblock %}</main>
    <footer class="fixed bottom-0 w-full h-12 dark:bg-gray-900 items-center">
      <div class="text-white text-center">
        All Rights Reserved, &copy; 2022 DS^2 &nbsp;
      </div>
    </footer>
  </body>
</html>
